@font-face {
    font-family: cursed-timer;
    src: url(CursedTimerUlil.ttf);
}

body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 575px;
    height: 385px;
    margin: auto;
    background: #1B244A;
}

h3 {
    height: 36px;
    width: 149px;
    left: 85px;
    top: 68px;
    font-family: Verdana;
    font-size: 40px;
    font-weight: 700;
    line-height: 36px;
    color: #EEEEEE;
    text-align: center;

}

.digital-points {
    color: #F94F6D;
    font-family: cursed-timer;
    font-size: 90px;
    font-weight: 400;
    line-height: 127px;
    text-align: center;
    background: #080001;
    margin-top: 26px;
    margin-bottom: 26px;
    align-content: center;
}

.increment-buttons {
    height: 45px;
    width: 155px;
    left: 82px;
    top: 271px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.increment-buttons button {
    height: 45px;
    width: 45px;
    font-family: cursed-timer;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8;
    border: 1px solid #9AABD8;
    border-radius: 5px;
    background: transparent;
}